<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="{{ site.name }}">
		<meta name="description" content="{{ site.description }}">

		<title>{{ page.title }}</title>

		<link rel="icon" href="/assets/img/favicon.png">
		<link href="/assets/css/layout.css" rel="stylesheet">

		{% for file in page.css %}
		<link href="{{ file.link }}" rel="stylesheet">
		{% endfor %}
		{% for file in layout.css %}
		<link href="{{ file.link }}" rel="stylesheet">
		{% endfor %}
	</head>

	<body class="dark">
		{% include header.html %}

		<main class="row">
			<div class="col-offset-3 col-6 main-content">
				{{ content }}
			</div>
		</main>

		{% include footer.html %}

		<script type="text/javascript" src="/assets/js/menu-phone.js"></script>
	</body>
</html> 

