<header>
	<nav class="col-offset-3 col-6">
		<div id="menu-burger">
			<svg viewBox="0 0 64 64" class="menu-img"><use href="/assets/img/icon.svg#gg-menu"/></svg>
		</div>

		<a href="/" class="menu-home">
			<span class="menu-text">Hadrien <span class="smallcaps">Lemaire</span></span>
		</a>

		<div id="menu">
			<ul class="menu-lang">
				{% for tongue in site.languages %}
				<li><a {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} class="menu-item">
					<span class="menu-text {% if tongue == site.active_lang %}menu-selected{% endif %}">{{ tongue }}</span>
				</a></li>
				{% endfor %}
			</ul>

			<div class="menu-separator"></div>

			<ul class="menu-page">
				{% for item in site.data.header.menu %}
				<li><a href="{{ item.link }}" class="menu-item">
					<span class="menu-text" name="{{ item.name }}">{{ item.name }}</span>
				</a></li>
				{% endfor %}
			</ul>

			<div class="menu-separator"></div>

			<ul class="menu-tool">
				{% for item in site.data.header.tools %}
				<li><a href="{{ item.link }}" class="menu-item">
					<svg viewBox="0 0 64 64" class="menu-img"><use href="{{ item.icon }}"/></svg>
					<span class="menu-text" name="{{ item.name }}">{{ item.name }}</span>
				</a></li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</header>
