/* ---------- General ---------- */
* {
	box-sizing: border-box;
}

html {
	/*height: 100%;*/
}

body {
	font-family: "Liberation Sans", "Arial", sans-serif;
	/*height: 100%;*/
	margin: 0;
	background-color: var(--bg-secondary);
	color: var(--fg);
}

.dark {
	/* https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
	--bg: #1c1c1c;
	--bg-secondary: #161616;
	--bg-limit: #282828;
	--fg: #e8eddf;
	--fg-hover:	#5ba826;
	--fg-link: #dfa815;
}

.light {
	/* https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
	--bg: #ffffff;
	--bg-secondary: #fafafa;
	--bg-limit: #d9d9d9;
	--fg: #222222;
	--fg-hover:	#5ba826;
	--fg-link: #dfa815;
}

a {
	color: var(--fg-link);
	text-decoration: none;
	cursor: pointer;
	position: relative;

	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0 1px;
	background-image: linear-gradient(var(--fg-link), var(--fg-link));
	transition: background-color .2s linear, background-size .2s ease-in-out
}

a:hover {
	background-size: 100% 1px;
}

.smallcaps {
	font-variant: small-caps;
}

/* ---------- Disposition ---------- */
/* For phone */
[class*="col-"] {
  width: 100%;
}

[class*="col-offset-"] {
	margin-left: 0%;
}

/* For desktop */
@media only screen and (min-width: 768px) {
	.col-3 {
		width: 25%;
	}
	.col-6 {
		width: 50%;
	}
	.col-offset-3 {
		margin-left: 25%;
	}
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/* ---------- Main ---------- */
main {
	min-height: calc(100vh - 5rem);
	padding: .5rem;
	background-color: var(--bg);
	text-align: justify;
	text-justify: inter-word;
}

/* For desktop */
@media only screen and (min-width: 768px) {
	main {
		padding: .5rem 0;
	}
}

main h1 {
	text-align: center;
}

blockquote {
	border-left: .2em solid var(--fg-link);
	margin: 1em 0;
	padding: 0 2em;
}

/* ---------- Header ---------- */
header {
	height: 3rem;
	background-color: var(--bg-secondary);
	border-bottom: 1px solid var(--bg-limit);
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* For phone */
header a {
	color: var(--fg);
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	height: 100%;
}

#menu-burger {
	padding: .5em;
	cursor: pointer;
}
#menu-burger .menu-img {
	height: 1.5em;
}

#menu {
	display: none;
	position: absolute;
	left: 0;
	top: 3rem;
	width: 100%;

	flex-direction: column;
	padding: 1em;
	background-color: var(--bg-secondary);
	border: 1px solid var(--bg-limit);
	z-index: 2;
}

.menu-separator {
	margin: .5em 0;
	border: 1px solid var(--bg-limit);
}

.menu-lang {
	display: flex;
	gap: 1em;
}

.menu-tool,
.menu-page {
	display: flex;
	flex-direction: column;
}

.menu-lang .menu-text {
	font-size: large;
}
.menu-page .menu-text,
.menu-tool .menu-text,
.menu-home .menu-text {
	font-size: x-large;
}

.menu-page {
	gap: .5em;
}

.menu-tool li,
.menu-page li {
	width: 100%;
}

.menu-item {
	display: inline-flex;
	transition: color .2s linear;
	align-items: center;
	gap: .75em;
}
.menu-home {
	transition: color .2s linear;
}

.menu-tool .menu-img,
.menu-tool .menu-item:hover .menu-img {
	color: var(--fg);
}
.menu-home:hover,
.menu-lang .menu-item:hover,
.menu-page .menu-item:hover,
.menu-tool .menu-item:hover {
	color: var(--fg-hover);
	background-size: 0 1px;
}

.menu-selected {
	font-weight: bold;
}

#menu .menu-img {
	height: 1.5em;
}

/* For desktop */
@media only screen and (min-width: 768px) {
	header a {
		color: var(--fg);
		width: auto;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	#menu-burger {
		display: none;
	}

	#menu {
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: auto;
		padding: inherit;
		border: none;
		gap: .5em;
	}

	.menu-separator {
		margin: 0 .5em;
		border: none;
	}

	.menu-lang,
	.menu-page,
	.menu-tool {
		display: flex;
		flex-direction: row;
		gap: .75em;
	}

	.menu-lang .menu-text {font-size: medium;}
	.menu-home .menu-text {font-size: x-large;}
	.menu-page .menu-text {font-size: large;}
	.menu-tool .menu-text {display: none;}

	.menu-tool li,
	.menu-page li {
		width: auto;
		display: content;
	}

	.menu-item {
		display: inline-flex;
		transition: color .2s linear, transform .2s linear;
	}
	.menu-home {
		transition: color .2s linear;
	}

	.menu-tool .menu-img,
	.menu-tool .menu-item:hover .menu-img {
		color: var(--fg);
	}
	.menu-home:hover {
		color: var(--fg-hover);
		background-size: 0 1px;
	}
	.menu-lang .menu-item:hover,
	.menu-page .menu-item:hover,
	.menu-tool .menu-item:hover {
		transform: scale(1.1);
		color: var(--fg-hover);
		background-size: 0 1px;
	}


	.menu-selected {
		font-weight: bold;
	}

	.menu-img {
		height: 1em;
	}





/*

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
header a {
	color: var(--fg);
	width: 100%;
}

.menu-item {
	display: inline-flex;
	transition: color .2s linear, transform .2s linear;
	align-items: center;
	gap: .75em;
}

.menu-home:hover {
	color: var(--fg-hover);
	background-size: 0 1px;
}

.menu-lang .menu-item:hover,
.menu-page .menu-item:hover {
	transform: scale(1.1);
	color: var(--fg-hover);
	background-size: 0 1px;
}

.menu-tool .menu-item:hover {
	transform: scale(1.1);
	color: var(--fg);
	background-size: 0 1px;
}

.menu-selected {
	font-weight: bold;
}

.menu-img {
	height: 1.5em;
}

	#menu-burger {
		display: none;
	}

	.menu-lang,
	.menu-page,
	.menu-tool,
	#menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
	}
	#menu {
		gap: 2em;
	}

	.menu-home .menu-text {
		font-size: x-large;
	}

	.menu-lang .menu-text {
		font-size: medium;
	}

	.menu-page .menu-text {
		font-size: large;
	}
	*/
}

/* ---------- Footer ---------- */
footer {
	display: flex;
	align-items: center;
	height: 2rem;
	font-size: small;
	background-color: var(--bg-secondary);
	border-top: 1px solid var(--bg-limit); 
}

footer a {
	color: var(--fg);
}

footer a:hover {
	color: var(--fg-hover);
	text-decoration: none;
	background-size: 0 1px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}
