.post-container {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: .5em;
	column-gap: 1em;
}

.post-newyear {
	grid-column: 1/3;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin: .5em 0;
}

.post-title {
	font-size: large;
}	

.post-date {
	font-size: large;
	opacity: .75;
}
